<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ycdb1" connectionString="server=192.168.200.98\ycdb1;database=DealerBasicInfo;uid=guoxuyang;pwd=8327683gxy"/>
  </connectionStrings>
</configuration>