
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form action="TestSubmit" method="post">

        <input type="text" name="loginName" />
        <span>@Html.ValidationMessage("loginName")</span><br />
        <input type="submit" name="name" value="提 交" />
    </form>
</body>
</html>
